body {
    margin: 0;
    font-family: poppins;
    background-color: whitesmoke;
}
.slack_details{
    width: 40%;
    margin-left: auto;
    margin-right:auto ;
    padding: 15px;
    box-shadow: 10px 8px black;
    background-color:#5c5c3d;
    color:white;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.dp-container{
    width: 20%;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
}
img{
    width: 100%;
   
}
a{
    text-decoration: none;
    color: white;
}
